.photoGrid{
    display: grid;
    border: 2px solid red;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 1rem;
    width: 100%;
}
.photoGrid>img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.photoDiv{
    display: flex;
    flex:1;
    flex-shrink: 1;
    flex-grow: 1;
}