.photoGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 15px;
  /* border: 2px solid red; */
  width: 100%;
  /* margin-top: -15px; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap; */
}
.photoGrid > img {
  height: 300px;
  width: 100%;
  /* overflow: hidden; */
  transition: 0.2s ease-in;
  image-rendering: optimizeQuality;
  object-fit: cover;
  object-position: center;
  /* padding: 10px; */
  /* justify-items: stretch;
align-items: stretch; */

  /* justify-content: space-between; */
}
.photoGrid > img:nth-child(10n + 1) {
  grid-column: span 6;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 2) {
  grid-column: span 4;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 3) {
  grid-column: span 2;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 4) {
  grid-column: span 6;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 5) {
  grid-column: span 2;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 6) {
  grid-column: span 5;

  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 7) {
  grid-column: span 5;

  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 8) {
  grid-column: span 4;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 9) {
  grid-column: span 3;
  min-width: 240px;
}
.photoGrid > img:nth-child(10n + 10) {
  grid-column: span 3;
  min-width: 240px;
}
.photoGrid > img:hover {
  opacity: 0.7;
}
.photoDiv {
  display: flex;
  /* flex:1;
    flex-shrink: 1;
    flex-grow: 1; */
  /* height:max-content;  */
}
