.navbar{
    background: black;
    padding: 0px;
    position: fixed;
    display: flex;
    flex: 0.15;
    height: 100vh;
    flex-shrink: 0;
    min-width: 200px;
    flex-basis:200px ;
    flex-direction: column;
    color: white;
    right: 0px;
    bottom: 0px;
        /* width: 10%; */
   
    /* margin-left: -10px;
    padding-left: 0px; */
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left:1px solid grey;
    
}
.navbar>ul{
    list-style: none;
    line-height: 35px;
    width: 100%;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    /* border: 1px solid white; */
    /* align-items: center; */
    text-align: center;
}
.navbar>ul>li{
    width: 100%;
    border-bottom:1px solid grey;
    border-left: 0px;
}
.logo{
    /* top: 10px; */
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}