.navbar{
    background: black;
    padding: 0px;
    display: flex;
    
    flex-shrink: 0;
    flex-basis:250px ;
    flex-direction: column;
    color: white;
    position: sticky;
    top: 0px;
    /* right: 0px;
    bottom: 0px; */
    /* min-width: 200px; */
    /* width: 10%; */
    height: 100vh;
    /* margin-left: -10px;
    padding-left: 0px; */
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left:1px solid grey;
    
}
.navbar>ul{
    list-style: none;
    line-height: 35px;
    width: 100%;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    /* border: 1px solid white; */
    /* align-items: center; */
    text-align: center;
}
.navbar>ul>li{
    width: 100%;
    border-bottom:1px solid grey;
    border-left: 0px;
}
.logo{
    /* top: 10px; */
    text-align: center;
}